.topArrow {
    position: fixed;
    bottom: 30px;
    right: 15px;
    border: 1px solid #7d7d7d;
    border-radius: 5px;
    background-color: #fff;
    width: 32px;
    height: 32px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 3px 5px rgba(0,0,0,0.15);
}
.arrow{
    width: 25px;
    height: 25px;
    position: relative;
    bottom: 0;
    transition: all 0.25s ease-in-out;
}

.topArrow:hover {
    border: 1px solid #666;
    box-shadow: 0 3px 5px rgba(0,0,0,0.22);
}

.topArrow:hover .arrow {
    bottom: 5px;
}