.card {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    max-width: 500px;
    padding: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.08s ease-in;
}

.card:hover {
  box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}

.card img {
  width: 200px;
  max-height: 160px;
  border-radius: 30px;
  object-fit: cover;
  object-position: top;
}

.card_content {
    flex: 1;
}

.card_content h3 {
  margin: 0;
}

.card_content h5 {
  margin: 5px 0 25px;
  font-size: 16px;
  color: #666;
}

@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    width: 85%;
    padding: 15px 20px;
    box-shadow: 0 3px 5px rgba(215, 215, 215, 0.65);
  }
  .card img {
    width: 100%;
    max-height: unset;
  }
}